* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: #fff;
}

h1 {
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 500;
}

form {
    width: 90%;
    max-width: 600px;
    height: 80px;
    margin: auto;
    background:transparent;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

form input {
    flex: 1;
    height: 100%;
    border: 1px solid black;
    outline: 0;
    background: transparent;
    color: #fff;
    font-size: 18px;
    padding: 0px 30px;
}

form button {
    padding: 0px 40px;
    height: 100%;
    background: #ff3929;
    color: #fff;
    font-size: 18px;
    border: 1px solid black;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

::placeholder {
    color: white;
    font-size: 18px;
}

#show-more-btn {
    background: #ff3929;
    color: #fff;
    border: 1px solid black;
    box-shadow: 2px 2px rgb(226, 218, 218);
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;
}

#search-result {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

#search-result img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 2px;
}